@import url("https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&display=swap");

:root {
  --color-primary: #000000;
  --color-secondary: #ffffff;
  --color-text: #010103;
  --color-dark: #373737;
  --color-dark-2: #3c3c42;
}

/* Global */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "FONTSPRING DEMO - Cera Pro";
  color: var(--color-text);
}

.bold-word {
  font-weight: 700;
}

/* Navbar */
nav {
  width: 100vw;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  max-width: 100%;
}

nav .wrapper-nav {
  width: 100%;
  max-width: calc(100% - 38px);
  display: flex;
  justify-content: center;
}

nav .container {
  background: #ffffffd9;
  backdrop-filter: blur(104px);
  box-shadow: 0px 2px 22px 0px #00000026;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  padding: 8px 40px 18px;
  max-width: 1700px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav .container .logo {
  max-width: 137px;
  max-height: 70px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

nav .container .logo img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

nav .container .wrapper-links {
}

nav .container .wrapper-links ul {
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  gap: 12px;
}

nav .container .wrapper-links ul a {
  text-decoration: none;
  font-size: clamp(14px, 1.6vw, 17px);
  color: #000;
  font-weight: 500;
  position: relative;
}

nav .container .wrapper-links ul a::before {
  content: "";
  height: 1px;
  width: 0px;
  position: absolute;
  left: 50%;
  translate: -50% 0;
  bottom: -10px;
  background-color: #000;
  transition: 0.3s all ease-out;
}

nav .container .wrapper-links ul a:hover::before {
  width: 100%;
}

nav .container .options {
  display: flex;
  align-items: center;
  gap: 12px;
}

nav .container .options .toggle-language {
  text-decoration: none;
}

nav .container .options .toggle-language {
  font-family: "Almarai", sans-serif;
}

nav .container .options button {
  background: none;
  border: none;
  cursor: pointer;
}

nav .container .options .wrapper-menu {
}

nav .popup-menu {
  position: fixed;
  left: -0;
  top: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  z-index: 1000;
  pointer-events: none;
  opacity: 0;
  transition: 0.3s all ease;
  padding-bottom: 80px;
}

nav .popup-menu.show {
  pointer-events: all;
  opacity: 1;
}

nav .search-popup .close-button,
nav .popup-menu .close-button {
  position: fixed;
  top: 50px;
  right: 50px;
  transition: 0.3s all ease;
  background: none;
  border: none;
  cursor: pointer;
}

nav .search-popup .close-button:hover,
nav .popup-menu .close-button:hover {
  scale: 1.2;
}

nav .popup-menu .list-menu {
  display: flex;
  flex-direction: column;
  list-style: none;
  text-align: center;
  gap: 14px;
  padding-inline: 20px;
}

nav .popup-menu .list-menu :is(a, .toggle-inner-list) {
  font-size: clamp(16px, 2.4vw, 25px);
  text-decoration: none;
  font-weight: 700;
  position: relative;
  background: none;
  border: none;
  cursor: pointer;
  color: #000;
}

nav .popup-menu .list-menu li .toggle-inner-list {
  margin-bottom: 8px;
}

nav .popup-menu .list-menu li .toggle-inner-list.show {
  color: #33a4db;
}

nav .popup-menu .list-menu li .inner-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 12px 40px;
  opacity: 0;
  translate: 0 -20px;
  height: 0;
  overflow: hidden;
  transition: translate 0.3s ease, opacity 0.3s ease;
}

nav .popup-menu .list-menu li:has(.toggle-inner-list.show) .inner-list {
  opacity: 1;
  height: auto;
  translate: 0 0;
}

nav .popup-menu .list-menu li .inner-list .item-inner {
  position: relative;
  font-weight: 400;
  font-size: clamp(14px, 2vw, 20px);
  transition: 0.3s all ease;
}

nav .popup-menu .list-menu li .inner-list .item-inner:not(:last-child)::after {
  content: "";
  height: 100%;
  width: 1px;
  background-color: #4b4b4b;
  position: absolute;
  top: 50%;
  translate: 0 -50%;
  right: -20px;
}

nav .popup-menu .list-menu li .item-inner:hover {
  color: #33a4db;
}

nav .popup-menu .list-menu a::before {
  content: "";
  height: 1px;
  width: 0px;
  position: absolute;
  left: 50%;
  translate: -50% 0;
  bottom: -10px;
  background-color: #000;
  transition: 0.3s all ease-out;
}

nav .popup-menu .list-menu a:hover::before {
  width: 100%;
}

nav .popup-menu .list-social {
  position: fixed;
  bottom: 40px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 12px;
}

nav .popup-menu .list-social a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20px;
  width: 20px;
  background: #33a4db;
  height: 38px;
  width: 38px;
  border-radius: 83px;
  padding: 8.3px;
  transition: 0.3s all ease;
}

nav .popup-menu .list-social a:hover {
  background: #2c8cbd;
}

/* Home Banner */
.home-banner {
  position: relative;
  display: flex;
}

.home-banner .list-social {
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: fixed;
  top: 50%;
  right: 31px;
  z-index: 1;
  translate: 0 -50%;
}

.home-banner .list-social a {
  background: var(--color-dark-2);
  width: 36px;
  height: 36px;
  border-radius: 50%;
  padding: 8.3px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 0.5s ease;
}

.home-banner .list-social a:hover {
  background: #000;
}

.home-banner .list-social a img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.home-banner .swiper {
  width: 100%;
}

.home-banner .swiper-slide {
  min-height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;

  transition: 0.3s all ease-in;
}
.home-banner .swiper-slide.swiper-slide-active {
  z-index: 10;
}

.home-banner .swiper-slide .bg-slide {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  z-index: -1;
}

.home-banner .swiper-slide .bg-slide::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    270deg,
    rgba(255, 255, 255, 0) 40.14%,
    #ffffff 100%
  );
  z-index: 1;
}

.home-banner .swiper-slide .bg-slide :is(img, video) {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.home-banner .swiper-slide .container {
  position: relative;
  z-index: 2;
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
  padding: 0 15px;
}

.home-banner .swiper-slide .container .content-slide {
  position: relative;
  z-index: 2;
  max-width: 750px;
  display: flex;
  flex-direction: column;
  gap: 21px;
  padding-inline-end: 40px;
}

.home-banner .swiper-slide .container .content-slide .subtitle-banner {
  font-size: clamp(24px, 2.5vw, 35px);
  font-weight: 400;
  color: #000;
  margin-bottom: 0;
  opacity: 0;
  translate: -200px 0;
  transition: opacity 0.5s 0.5s ease, translate 0.5s 0.5s ease;
}

.home-banner .swiper-slide .container .content-slide .title-banner {
  font-size: clamp(26px, 5vw, 54px);
  font-weight: 300;
  color: #000;
  margin-bottom: 0;
  max-width: 600px;
  opacity: 0;
  scale: 1.5;
  transition: opacity 0.5s 1s ease, scale 0.5s 1s ease, translate 0.5s 1s ease;
}

.home-banner .swiper-slide .container .content-slide .btn-explore {
  font-size: clamp(18px, 2vw, 20px);
  font-weight: 700;
  padding: 10px;
  border-radius: 10px;
  background: #ffffff;
  color: var(--color-dark);
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  width: fit-content;
  transition: color 0.5s ease, opacity 0.5s 1.5s ease, translate 0.5s 1.5s ease;
  overflow: hidden;
  position: relative;
  z-index: 1;
  opacity: 0;
  translate: 0 40px;
}

.home-banner .swiper-slide .container .content-slide .btn-explore:hover {
  color: var(--color-secondary);
}

.home-banner .swiper-slide .container .content-slide .btn-explore .icon-play {
  width: 42px;
  height: 42px;
  border-radius: 6px;
  background: var(--color-dark);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.home-banner
  .swiper-slide
  .container
  .content-slide
  .btn-explore
  .icon-play:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0px;
  height: 0px;
  background: var(--color-dark);
  border-radius: 50%;
  transition: all 0.3s ease;
  z-index: -1;
}

.home-banner
  .swiper-slide
  .container
  .content-slide
  .btn-explore:hover
  .icon-play:before {
  width: 30vw;
  height: 30vw;
}

.home-banner
  .swiper-slide.swiper-slide-active
  .container
  .content-slide
  .subtitle-banner {
  opacity: 1;
  translate: 0 0;
}

.home-banner
  .swiper-slide.swiper-slide-active
  .container
  .content-slide
  .title-banner {
  opacity: 1;
  scale: 1;
  translate: 0 0;
}

.home-banner
  .swiper-slide.swiper-slide-active
  .container
  .content-slide
  .btn-explore {
  opacity: 1;
  translate: 0 0;
}

.home-banner .swiper-controls {
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  display: flex;
  flex-direction: column;
  gap: 38px;
  width: 100%;
  max-width: 1500px;
  padding: 0 15px;
}

.home-banner .navigation {
  display: flex;
  gap: 18px;
}

.home-banner .navigation button {
  border-radius: 50%;
  border: 2.06px solid #292d32;
  width: 36px;
  height: 36px;
  background-color: transparent;
  padding: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s background ease-in-out;
  cursor: pointer;
}

.home-banner .navigation button img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.home-banner .navigation button:hover {
  background-color: #000;
}

.home-banner .navigation button:hover img {
  filter: brightness(10);
}

.home-banner .swiper-controls .pagination {
  position: static;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.home-banner .swiper-controls .pagination .swiper-pagination-bullet {
  background: #000;
  opacity: 0.44;
}

.home-banner .swiper-controls .pagination .swiper-pagination-bullet-active {
  width: 49px;
  border-radius: 6px;
  opacity: 1;
}

nav .popup-menu .list-menu li {
  display: none;
}

nav .container .wrapper-links ul li:nth-child(7) ~ li {
  display: none;
}

nav .popup-menu .list-menu li:nth-child(7) ~ li {
  display: block;
}

nav .container .options .kfas-center img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

nav .popup-menu .list-menu li:has(a.kfas-center) {
  display: none !important;
}

nav .search-popup {
  position: fixed;
  left: -0;
  top: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #000000bd;
  backdrop-filter: blur(8px);
  z-index: 1000;
  pointer-events: none;
  opacity: 0;
  transition: 0.3s all ease;
  padding: 20px;
}
nav .search-popup .close-button {
  filter: invert(1);
}
nav .search-popup.show {
  pointer-events: all;
  opacity: 1;
}
nav .search-popup form {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding-bottom: 37px;
  width: 100%;
  max-width: 1065.90625px;
  border-bottom: 2px solid #ffffff;
  gap: 12px;
}
nav .search-popup form input {
  flex: 1 1 100%;
  font-size: clamp(18px, 2vw, 25px);
  background: none;
  border: none;
  outline: none;
  color: #fff;
}
nav .search-popup form input::-webkit-search-cancel-button {
  display: none;
}
nav .search-popup form button {
  border: none;
  background: none;
  cursor: pointer;
}
nav .search-popup form button img {
  filter: invert(10);
}

@media (max-width: 1600px) {
  nav .container .wrapper-links ul li:nth-child(6) ~ li {
    display: none;
  }

  nav .popup-menu .list-menu li:nth-child(6) ~ li {
    display: block;
  }
}

@media (max-width: 1350px) {
  nav .container .wrapper-links ul li:nth-child(5) ~ li {
    display: none;
  }

  nav .popup-menu .list-menu li:nth-child(5) ~ li {
    display: block;
  }
}

@media (max-width: 1200px) {
  nav .container .wrapper-links ul li:nth-child(4) ~ li {
    display: none;
  }

  nav .popup-menu .list-menu li:nth-child(4) ~ li {
    display: block;
  }
  nav .search-popup .close-button {
    right: 20px;
  }
}

@media (max-width: 1024px) {
  nav .container .wrapper-links ul li:nth-child(3) ~ li {
    display: none;
  }

  nav .popup-menu .list-menu li:nth-child(3) ~ li {
    display: block;
  }
}

@media (max-width: 992px) {
  .home-banner .list-social {
    right: 15px;
  }
}

@media (max-width: 886px) {
  nav .container .wrapper-links {
    display: none;
  }

  nav .popup-menu .list-menu li {
    display: block;
  }

  nav .container .logo {
    max-height: 60px;
  }

  nav .container .options .kfas-center {
    max-width: 140px;
  }

  nav .container {
    padding: 8px 20px;
  }
}

@media (max-width: 668px) {
  .home-banner .swiper-controls {
    bottom: 120px;
  }

  .home-banner .swiper-controls .pagination,
  .home-banner .swiper-controls .navigation {
    justify-content: center;
  }

  .home-banner .swiper-slide .container .content-slide {
    padding: 0;
  }

  .home-banner .list-social {
    right: auto;
    left: 50%;
    top: auto;
    bottom: 40px;
    translate: -50% 0;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    padding: 15px;
  }

  nav .container .options .kfas-center {
    display: none;
  }

  nav .popup-menu .list-menu li:has(a.kfas-center) {
    display: block !important;
  }
}
